.game_window_stats-wrapper {
  display: flex;
  justify-content: space-between;
  border: 2px inset #ececec;
  margin-bottom: 10px;
}

.game_window_stats-counter {
  width: 15%;
  background-color: #333333;
  color: #fc543c;
  text-align: center;
  border: 2px ridge #ececec;
  padding: 3px;
  margin: 10px;
}

.game_window_stats-emoji {
  display: flex;
  margin: 10px;
  line-height: 1;
  font-size: x-large;
  border: 2px outset #ececec;
  padding: 3px;
}
