@import "./src/Styles/variables";

.checkbox {
  display: flex;
  gap: 12px;
  align-items: center;
  cursor: pointer;
  
  &__input {
    background-color: $color-white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 14px;
    width: 14px;
    padding: 2px;
    border: $border-inset-3;
    fill: $color-black-1
  }
  
  span {
    user-select: none;
  }
  
  &--disabled {
    cursor: default;
    pointer-events: none;
    
    .checkbox__input {
      fill: $color-grey-2;
      background-color: $background-grey-1;
    }
    
    span {
      color: $color-grey-2;
    }
  }
}
